html {
  font-size: 20px;
  /*font-family: Arial, sans-serif;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*height: 100%;*/
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;*/
}
body {
  padding: 0;
  margin: 0;
}
.pg-nav {
  padding: 0;
  margin: 0;
}
.main-title, .about-me {
  text-align: center;
  clear: both;
  opacity: 0.4;
}
.jt-1 {
  background-color: #48C9B0;
  margin: 0;
  min-height: 100%;
  min-height: 100vh;
}
.vertical-center {
  width: 100%;
  display: flex;
  align-items: center;
}
.sub-title {
  opacity: 1;
  color: white;
}
.jt-2 {
  min-height: 60%;
  min-height: 60vh;
}
.cont-2 {
  width: 80%;
}
